@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9fafb;
  --foreground: #111827;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", system-ui, sans-serif;
}

@layer base {
  input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
  }
}
